.garage-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem;
}

.garage-header::first-line {
  font-size: 2rem;
}
