.race {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.track {
  display: flex;
  align-items: center;
  border-top: solid 0.2rem black;
  background: lightslategray;
  background-image: url("../assets/images/asphalt.jpg");
  padding: 0 2rem;
  height: 100px;
}

.track:last-child {
  border-bottom: solid 0.2rem black;
}

/* .track::after {
  content: " ";
  position: absolute;
  z-index: 50;
  right: 120px;
  height: 100%;
  width: 10px;
  background: repeating-linear-gradient(
  -45deg,
  black,
  black 5px,
  yellow 5px,
  yellow 10px
) fixed;
} */

.road {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.road::after {
  content: " ";
  position: absolute;
  z-index: 50;
  right: 120px;
  height: 100%;
  width: 10px;
  background: repeating-linear-gradient(
  -45deg,
  black,
  black 5px,
  yellow 5px,
  yellow 10px
) fixed;
}

.road::before {
  content: " ";
  position: absolute;
  z-index: 40;
  top: calc(50% - 2px);
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(
  to right,
  transparent,
  transparent 20px,
  #ffffff 20px,
  #ffffff 50px
)
}

.car {
  position: absolute;
  left: 2rem;
  width: 100px;
  height: 50px;
  z-index: 100;
}

.drive {
  left: calc(100% - 2rem - 65px);
  transition: left var(--drive-time) linear;
}