.winners-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem;
}

.winners-header::first-line {
  font-size: 2rem;
}

.winners-table {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr 2fr 2fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}

.winners-table > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#tab-head-car {
  grid-column-end: span 2;
}

.winner-table-header {
  height: 100%;
  font-weight: 700;
  border: solid 0.1rem black;
  border-right: none;
  background-color: grey;
}

.winner-table-header:last-child {
  border-right: solid 0.1rem black;
}

#tab-head-time.asc,
#tab-head-wins.asc {
  position: relative;
} 

#tab-head-time.asc::after,
#tab-head-wins.asc::after {
  content: '▲';
  font-size: 1.9rem;
  position: absolute;
  right: 0.1rem;
  color: #bd3c00;
}

#tab-head-time.desc,
#tab-head-wins.desc {
  position: relative;
} 

#tab-head-time.desc::after,
#tab-head-wins.desc::after {
  content: '▼';
  font-size: 1.9rem;
  position: absolute;
  right: 0.1rem;
  color: #bd3c00;
}


.winner-table-nr,
.winner-table-img,
.winner-table-model,
.winner-table-wins,
.winner-table-time {
  height: 100%;
  border: solid 0.1rem black;
  border-right: none;
  border-top: none;
}

.winner-table-time {
  border-right: solid 0.1rem black;
}  

.winner-table-img {
  justify-content: flex-end;
}

.winner-table-img svg {
  height: 3rem;
}

.winner-table-model {
  border-left: none;
  justify-content: flex-start;
  font-family: 'Racing Sans One', cursive;
  background: #bdc3c7;
  background: linear-gradient(to top, #393939, #696969);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}